@model IEnumerable<Book>

<div class="container p3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Böcker</h2>
        </div>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Boktitel
                    </th>
                    <th>
                        Författare
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model)
                {
                    <tr>
                        <td>
                            <div class="text-left">@book.BookTitle</div>
                        </td>
                        <td>
                            <div class="text-left">@book.Author</div>
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Book" asp-route-id="@book.BookId" asp-action="Details"><i class="fa-solid fa-arrow-right"></i>&nbsp; Beskrivning</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
