@model Loan

<div class="container p3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Låna</h2>
        </div>
    </div>
    <form method="post" asp-action="Create">
        <input asp-for="DateForLoan" hidden />
        <div class="border p-3 mt4">
            <div class="mb-3">
                <label for="selectCustomer" class="form-label font-weight-bold">Välj en låntagare</label>
                <select asp-for="CustomerId" id="selectCustomer" class="form-control">
                    <option selected>Låntagarlista</option>
                    @await Component.InvokeAsync("CustomerOptions")
                </select>
            </div>
            <div class="mb-3">
                <label for="selectBook" class="form-label font-weight-bold">Välj en bok</label>
                <select asp-for="BookId" id="selectBook" class="form-control">
                    <option selected>Välj en bok</option>
                    @await Component.InvokeAsync("BookOptions")
                </select>
            </div>
            <button type="submit" class="btn btn-primary" style="width:150px">Skapa</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">Tillbaka</a>
        </div>
    </form>
</div>

