@{
    ViewData["Title"] = "Home Page";
}
<div class="containter p-3">
    <div class="text-center">
        <h1 class="display-4">Välkommen till Biblioteket</h1>
        <div class="text-center">
            <a asp-controller="Book" asp-action="List" class=" btn btn-success float-right">Se alla böcker</a>
        </div>
        <div class="text-center">
            <a asp-controller="Loan" asp-action="Create" class="btn btn-success float-left">Låna en bok</a>
        </div>
    </div>
</div>
