@model Customer

<h1>Uppdatera</h1>
<form method="post" asp-action="Edit">
    <input asp-for="CustomerId" hidden />
    <div class="border p-3 mt4">
        <div class="row pb-2">
            <h2 class="text-primary">Uppdatera låntagare</h2>
        </div> 
        <div class="mb-3">
            <label asp-for="CustomerFirstName"></label>
            <input asp-for="CustomerFirstName" class="form-control">
            <span asp-validation-for="CustomerFirstName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CustomerLastName"></label>
            <input asp-for="CustomerLastName" class="form-control">
            <span asp-validation-for="CustomerLastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Uppdatera</button>
        <a asp-controller="Customer" asp-action="List" class="btn btn-secondary" style="width:150px">Tillbaka</a>
    </div>
</form>


