@model Customer

    <div class="container p3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Ta bort låntagare</h2>
            </div>
        </div>
        <form method="post" asp-action="RemoveCustomer" asp-route-id="@Model.CustomerId">
            <div class="border p-3 mt4">
                <div class="mb-3">
                    <label asp-for="CustomerFirstName" class="form-label font-weight-bold"></label>
                    <input asp-for="CustomerFirstName" disabled class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="CustomerLastName" class="form-label font-weight-bold"></label>
                    <input asp-for="CustomerLastName" disabled class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="PhoneNumber" class="form-label font-weight-bold"></label>
                    <input asp-for="PhoneNumber" disabled class="form-control">
                </div>
                <button type="submit" class="btn btn-danger" style="width:150px" onclick="return confirm('Vill du verkligen ta bort låntagaren?')">Ta bort</button>
                <a asp-controller="Customer" asp-action="List" class="btn btn-secondary" style="width:150px">Tillbaka</a>
            </div>
        </form>
    </div>
